# exportPattern("^[[:alpha:]]+")
import(MASS)

export(BlockDiag)
export(Make_atom_cycle)
export(Make_daily_yearly_seasonality)
export(Make_daily_weekly_seasonality)
export(Make_weekly_yearly_seasonality)
export(FF_Gaussian)
export(BS_Gaussian)
export(extracet_BS)
export(plot_BS_mean)
